{% extends 'base.html' %}

{% block title %}
Тест
{% endblock %}

{% block body %}
<h1>Запишите ответы на вопросики</h1>
        <form method="post" action="{{ url_for('submit') }}">
      <p>Стоит богатый дом и бедный. Они горят. Какой дом будет тушить полиция?</p>
      <input type="text" name="1">

      <p>Как человеку не спать 8 дней?</p>
      <input type="text" name="2">

      <p>Вы заходите в тёмную кухню. В ней есть свеча, керосиновая лампа и газовая плита.
          Что вы зажжёте в первую очередь?</p>
      <input type="text" name="3">

      <p>Сидит девушка, а вы не можете сесть на её место, даже если она встанет и уйдёт.
          Где она сидит?</p>
      <input type="text" name="4">

      <p>К реке подходят два человека. У берега лодка, которая может выдержать только одного.
          Оба человека переправились на противоположный берег. Как?</p>
      <input type="text" name="5">

      <p>Два отца, два сына нашли три апельсина и разделили их. Каждому досталось по целому апельсину.
          Как такое может быть?</p>
      <input type="text" name="6">

      <p>Полтора судака стоят полтора рубля. Сколько стоят 13 судаков?</p>
      <input type="text" name="7">

      <p>На столе лежат две монеты, в сумме они дают 3 рубля. Одна из них — не 1 рубль. Какие это монеты?</p>
      <input type="text" name="8">

      <p>Если 5 кошек ловят 5 мышей за 5 минут,
          то сколько времени нужно 1 кошке, чтобы поймать 1 мышку?</p>
      <input type="text" name="9">

      <p>Собака была привязана к десятиметровой верёвке, а прошла 300 метров. Как ей это удалось?</p>
      <input type="text" name="10"></p>

      <input type="submit" value="Submit">
    </form>
{% endblock %}